
/* *.html */
html{
  font-family: "Open Sans", Arial, sans-serif;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
}


  /* Navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(4, 4, 109);
  }
  
  .navi li{
    float: left;
  }
  .navi li a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
  }
 
    /* Nav Animation */
  .navi li a:hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .navi li a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    top: 0;
    background: black;
    height: 8px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
 .navi li a:hover:before, .navi li a:focus:before, .navi li a:active:before {
    left: 0;
    right: 0;
  }
  .contact{
      float: right;
  }

  label{
    margin: 30px;
    color: gray;
    float: left;
    display: none;
    font-size: 60px;
  }

  label:hover{
    color: white;
  }

  nav{
    background-color: rgb(4, 4, 109);
  }

    /* Responsiv Nav */
  .responsiv{
    margin: 0px;
    text-decoration: none;
    color: gray;
    margin: 0px;
    line-height: 70px;
    display: none;
    text-align: center;
    width: 100%;
  }
  .responsiv a{
    color: white;
    text-decoration: none;
  }

  .responsiv a:hover{
    color: gray;
    text-shadow: 0.8rem .8rem 2.5rem lightgray;
  }
  #toggle{
    display: none;
  }
  #toggle:checked + .responsiv{    
    display: block;
    animation: all 1s;
 }

  @media only screen and (max-width: 1500px){
    label{
      display: block;  
      cursor: pointer;
      font-size: 50px;
    }
    .navi{
      display: none;
    }

  }
 
  /* Bugfix benötigt
  @media only screen and (min-width: 1000px){
    
  }  */

 /* Footer */
  .footers{
    width: 1100px;
    margin: 0 auto;
  }
  .innerfooter{
    width: 33%;
    float: left;
    text-align: left;
    color: white;
  }
  .innerfooter ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .innerfooter ul a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 12;
  }

  .innerfooter ul a:hover{
    color: gray;
  }

  .innerfooter p{
    padding-right: 60px;
  }

  footer{
    position: relative;
    width: 100%;
    height: 200px;
    bottom: 0;
    background-image:url(https://wallpaperaccess.com/full/871906.jpg);
    background-position-y: 500px;
  }


  /* Responsiv Footer */
  @media only screen and (max-width: 1500px){
    .innerfooter{
      display: none;
    }
    .innerfootera
    { 
      text-align: center;
      float: unset;
    }
  }

  .innerfootera{
    width: 33%;
    float: left;
    text-align: left;
    color: white;
  }
  .innerfootera ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .innerfootera ul a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 12;
  }

  .innerfootera ul a:hover{
    color: gray;
  }

  .innerfootera p{
    padding-right: 60px;
  }

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical; 
  color: white;
  box-shadow: .80px .80px 48rem gray;
  background-color: lightgray;
  
}


input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.25s;
}

input[type=submit]:hover {
  transform: translateX(-10px);
  box-shadow: 0.5rem .5rem 2rem darkgray;
}

.contactf {
  border-radius: 5px;
  align-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 275px;
  width: 75%;
}

#vorschlag{

height: 200px;

}
.heading {
  text-transform: uppercase;
  font-size: 56px;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-bottom: 80px;
  text-align: center;
  color: gray;
  position: relative;
}

.heading::after{
  content: "";
  width: 160px;
  height: .128px;
  background-color: black;
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 32px;
}


    
.inbildtext{
  position: relative;
  bottom: 140px;
  right: 16px;
  width: 40%;
  margin-left: 140px;
  margin-top: 300px;
  font-size: 50px;
  float: right;
  color: white;
}

.bild{
  width: 100%;
  height: 900px;
  background-image:url(https://mobimg.b-cdn.net/pic/v2/gallery/preview/fon-futbol-sport-29237.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1500px){
  .contactf{
    margin-left: 0;
  }
  .heading{
    font-size: 20px;
  }
  .label{
    display: none;
  }
}