
/* *.html */
html{
  font-family: "Open Sans", Arial, sans-serif;
  scroll-behavior: smooth;
  background-color: #ece8e1;
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden;
}

/* Body Adjustment */
body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


/* Navigation */
/*.nav {
  font-family: DINNextW1G,arial,georgia,sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(17, 17, 17);
} */

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color:rgb(17, 17, 17);
  margin-bottom: 0px;
}

.logo{
  color: #ece8e1;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
  cursor: pointer;
}

.navs{
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.navi{
  list-style: none;
}

.navi a{
  color: #ece8e1;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bolder;
  font-size: 15px;
  text-transform: uppercase;
  transition: color 0.5s ease-in;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: #ece8e1;
  margin: 5px;
}

.burger{
  display: none;
  cursor: pointer;
}


@media screen and (max-width: 1100px){

  body{
    overflow-x: hidden;
  }
  
  .navs{
    position: absolute;
    right: 0px;
    height: 290px;
    top: 7.5vh;
    background-color:rgb(12, 12, 12);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    transition: transform 0.5s ease-in;
    display: none;
  }
  .burger{
    display: block;
  }
}

.nav-active{
  transform: translateX(0%);
  display: flex;
}

/* Change the link color to #111 (black) on hover */
.navi a:hover {
  cursor:pointer;
  color: #21384e;
}
.navi img:hover {
  cursor:crosshair;

}



/* Footer */
footer{
  background-color: #111111;
}

.innerfootera{
  padding-top: 30px;
  margin-top: 80px;
  float: middle;
  text-align: center;
  font-style: italic;
  font-size: 13px;
  color: gray;
  margin-bottom: 10px;
  font-family: OpenSans, sans-serif;
  font-weight: bold;
}

.innerfooterb {
  list-style: none;
  display: block;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.innerfooterb ul{
  list-style: none;
}

.innerfooterb li{
  list-style: none;
  text-align: center;
  display: inline;
}
.innerfooterb li a{
  text-decoration: none;
  color: gray;
  font-size: 12;
  padding: 10px;
  transition: all 0.25s;
  font-weight: 300;
}

.innerfooterb li a:hover{

color: #21384e;

}

.innerfooterc{
  color: #111111;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 0.5px solid gray;
  margin-left: 100px;
  margin-right: 100px;
  
}

/* Website Index Start */

.ersteslayout{
  margin-top: 0px;
  height: 740px;
  background-position-y: 900px;
  background-image: url(https://s12.directupload.net/images/200415/qoy7lin9.png);
  background-attachment: fixed;
  color: #ece8e1;
  ;
}

.ersteslayout h1{
  position: absolute;
  font-weight: bolder;
  font-size: 90px;
  text-transform: uppercase;
  top: 230px;
  left: 0px;
  width: 500px;
  
}

.ersteslayout p{
  position: absolute;
  font-weight: bolder;
  font-style: oblique;
  font-size: 30px;
  top: 525px;
  width: 600px;
  right: 100px;
  left: 0px;
 
}

.vertikalelinie{
  position: absolute;
  left: 180px;
  border-left: 1px solid lightgray;
  height: 740px;
}

.vertikalenav{
  position: absolute;
  left: 10%;
  border-left: 1px solid rgb(138, 138, 138);
  height: 3500px;
}


.onepager{
  top: 400px;
  position: fixed;
  height: 800px;
  left: 10.5%;
  float: left;
  width: 82px;
}

.onepager a{
  text-decoration: none;
  font-weight: bolder;
  color: rgb(36, 36, 36);
  font-size: 13px;
  padding-top: 3px;
}

.weiterercontent{
  position: relative;
  left: 300px;
  height: 800px;
}
.onepager a:hover{
  color: rgb(31, 31, 31);
}
.headline{
  position: relative;
  top: 80px;
  width: 80%;
  border-top: 1px solid rgb(138, 138, 138);
}

.headtitle{
  margin-top: 2px;
  font-weight: 900;
  font-size: 100px;
  width: 900px;
  position: relative;
  color: #0f1923;
  left: 7%;
  text-transform: uppercase;
  margin-right: 3%;
}

.untertext{
 
}

.untertext p{
  font-size: 18px;
  width: 300px;
  position: relative;
  left: 8%;
  top: 100px;
  color: gray;
}


.trailer{
  position: relative;
  left: 30%;
  bottom: 300px;
  width: 720px;
  height: 420px;
}

.blabla{
  position: absolute;
  background-color: #0f1923;
  height: 300px;
  width: 650px;
  left: 30%;
  bottom: 100px;
}
@media screen and (max-width: 1400px){
  .untertext p{
    left: 2%;
  }
  .trailer{
    width: 50%;
    height: 30%;
    margin-right: 10%;
    bottom: 300px;
  }
}




.bildweltmeister{
  position: relative;
  left: 35%;
  width: 450px;
  height: 600px;
  background-image: url("WM.svg");
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 320px;
  transition: all 2s;
}

.bildweltmeister:hover{
  transform: rotate(360deg);
}

.contentdunkel{
  left: 300px;
  height: 1200px;
  position: relative;
}

.bgimagel{
  background-image: url(https://images6.alphacoders.com/962/962483.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  clip-path: polygon(100% 0, 100% 100%, 29% 100%, 29% 72%, 0 72%, 0 0);
  height: 100%;
}
.bgimager{
  background-image: url(https://images8.alphacoders.com/984/984758.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  clip-path: polygon(100% 0, 100% 100%, 29% 100%, 29% 72%, 0 72%, 0 0);
  height: 100%;
}
.bgimagen{
  background-image: url(https://images7.alphacoders.com/983/983619.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  clip-path: polygon(100% 0, 100% 100%, 29% 100%, 29% 72%, 0 72%, 0 0);
  height: 100%;
}

.slides{
  border: solid 8px #21384e;
  border-radius: 2px;
  position: absolute;
  height: 60%;
  width: 70%;
  left: 80px;
}

.slides p{
  color: #21384e;
  font-size: medium;
  position: absolute;
  top: 80%;
  left: 2%;
  width: 25%;
  clip-path: none;
  font-size: 15px;
  font-weight: bolder;
}

.slides h4{
  color: #21384e;
  font-size: x-large;
  position: absolute;
  top: 70%;
  left: 2%;
  font-weight: bolder;
}

#dunkel{
  margin-bottom: 8%;
}

.slidesleft{
  position: relative;
  top: 50%;
  left: 8%;
}
.slidesright{
  position: relative;
  top: 50%;
  left: 3.7%;
}
.slidebar{
  transition: all 1s;
}